<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="page-container">
		<div class="row">
			<div class="col box2">
				<h1>Corona</h1>
				<div class="page-container">
					<div class="row">
						<div class="col box3">
							<h1>
								<a href="/">Corona</a>
							</h1>
						</div>
					</div>
					<div class="row">
						<div class="col col3 box2">
							<h1></h1>
						</div>
						<div class="col col3 box1">
							<div class="row">
								<h3>Sign up your account</h3>
							</div>

						</div>
						<div class="row">
							<div class="col col3 box2"></div>
							<div class="col col4 box1">
								<div class="row">
									<h3>Sign up your account</h3>
									<div class="col col5 box1">
										<form action="addBroker" method="post">
											id: <input type="text" name="userId" /><br /> name: <input
												type="text" name="username" /><br /> country: <input
												type="text" name="usercountry" /><br /> <input
												type="submit" value="Add this broker" />

										</form>


									</div>
								</div>
								<div class="col col3 box2"></div>
							</div>
						</div>
					</div>
</body>
</html>