<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="shareholder.css" />
<link rel="stylesheet" href="style.css" />
<head>
<meta charset="ISO-8859-1">
<title>Transactions</title>
</head>
<body>
<body>

	<div class="wrapper">
		<div class="sidebar">
			<h3 th:text="|Logged in as ${userName.username}|"></h3>
			<ul>
				<li><a href="/ViewShares">View Shares</a></li>

				<li><a href="/ShareholderTransactions">View Transaction</a></li>

				<li><a href="/ViewPortfolio">View Portfolio</a></li>

				<li><a href="/Wallet">View Wallet</a></li>

			</ul>

		</div>
		<div class="main_content">
			<div>
				<h3>Shares / Transactions</h3>
			</div>
			<div class="page-container">
				<div class="row">

					<table class="sharesTransactions">
						<tr class="tablehead">
							<th>Share</th>
							<th>Quantity</th>
							<th>Option</th>
						</tr>

						<tr>
							<form class="box" th:action="@{/buyshare}" method="get">
							<td><select id="share" name="shareid">
									<option th:each="share : ${shares}"
										th:text="${share.name}+' - '+${share.price}+' GBP'"
										th:value=${share.shareId} />
							</select></td>
							<td><input type="number" name="sharequantity" min="0"
								max="100"></td>
							<td><input type=submit class="buysell" value="Buy"
								name="button"> <input type=submit class="buysell"
								value="Sell" name="button"></td>
							</form>
						</tr>




					</table>



				</div>
				<div></div>
			</div>


			<div class="col col1">
				<h3>
					<a href="ViewShares">View All Shares</a>
				</h3>
				<h3>
					<a href="ViewPortfolio">View Portfolio</a>
				</h3>
				<h3>
					<label for="share">Select a Share:</label>
				</h3>
			</div>
		</div>
		<div class="row">

			<table class="sharesTransactions">
				<tr class="tablehead">
					<th>Share</th>
					<th>Quantity</th>
					<th>Option</th>
				</tr>

				<tr>
					<form th:action="@{/buyshare}" method="get">
						<td><select id="share" name="shareid">
								<option th:each="share : ${shares}" th:text="${share.name}+' - '+${share.price}+' GBP'"
											th:value=${share.shareId} />
						</select></td>

						<td><input type="number" name="sharequantity" min="0" max="100"></td>
						<td><input type=submit class="buysell" value="Buy" name="button"> <input
							type=submit class="buysell" value="Sell" name="button"></td>
					</form>
				</tr>
				
				
				
				
			</table>


		</div>
	</div>

</body>
</html>