<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Corona</title>
<link rel="stylesheet" href="viewUserRequest.css" />
</head>
<body>

	<div class="wrapper">
		<div class="left">
			<div>
				<h3 th:text="${userName.username}"></h3>
			</div>
			<div>
				<h3>Log</h3>
			</div>
			<table>
				<tr th:each="user : ${approvedUsername}">
					<td th:text="|${user.userName} is now a ${user.userType}|" />
				</tr>
			</table>



		




			<div>
				<a class="btn" href="ViewUserRequest">Refresh Log</a>
			</div>
			<div>
				<a class="btn" href="manageUser">Manage Users</a>
			</div>
			<div>
				<a class="btn" href="viewActivity">View Users Activity</a>
			</div>


		</div>
		<div></div>
		<div class="right">
			<form class="box" method="post" action="UserRequestResult">
				<div class="login">
					<div>
						<div>
							<h3>Current Requests</h3>
						</div>
						<table>

							<tr th:each="user : ${username}">
								<td th:text="|${user.userName} wants to be a ${user.userType}|" />

								<td><label for="cb">Accept </label><input type="checkbox"
									id="cb" name="cb" th:value="${user.userName} " /></td>

							</tr>
						</table>
						<input type="submit" value="Submit">
					</div>
				</div>

			</form>

		</div>
	</div>

</body>
</html>