@charset "ISO-8859-1";
@charset "ISO-8859-1";
.page-container{
  margin:50px;
display:grid;
grid-template-columns: 1fr; 
grid-template-rows: 15% 70%;
grid-template-areas:"header"
                    "trades-table";

}
.header{
    margin:2px;
  padding:10px;
      background-color:grey;
  	grid-area:header;
  float:left;

}
.trades-table{
  
  grid-area:trades-table;
}
th{
background-color:grey;
}
tr{
  background-color:red;
}

.button{
}
